html {
    background-color: #00539f;
}

body {
    font-family: 'Monoton', cursive;
    width: 600px;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px;
}

h1 {
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 1px #000;
    color: red;
}

/* .add-statement-button {
    float: left;
}

.add-statement-link-list {
    float: bottom;
}    */

.add-statement-link-list {
    width: 375px;
}
